
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.side-nav-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* color: #581C87 */

}
.side-nav-show{
    font-size: 1.5rem;
    color: #581C87;
    padding: 10px;
}
.side-nav-show:hover{
    background-color: #f2f2f2;
    color: #581C87;
    border-radius: 30%;
}
.side-nav-show .sidebar-control{
    width: 100px;
}
.profile-logo{
    width: 250px;
}